body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 14px;
    background-color: #131313;
    color: #fff;
}

div.center {
    display: table;
    margin: 10px auto;
}

img.screenshot {
    height: 200px;
    margin: 10px;
}